body {
    margin: 0;
    background-color: #8b707043;
    font-family: 'Forum', cursive;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 3rem;
    overflow: hidden;
}

.navbar {
    background-color: #8b70705c;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15rem;
    padding: 0.5rem;
}

.item {
    text-decoration: none;
    color: white;
    font-size: 200%;
}

.image {
    width: 100%;
    height: 30rem;
}

.logo-HP {
    font-family: 'Forum', cursive;
    font-size: 5rem;
    color: black;
    display: flex;
    justify-content: center;
    margin: 1rem;
    width: 100%;
}

.tiket-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 0.1rem solid black;
    border-radius: 6rem;
}

.tiket-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tiket-description {
    font-family: 'Forum', cursive;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    margin: 0;
}

.tiket-description-info {
    margin: 0rem;
    font-size: 1.3rem;
    padding: 1rem;
    font-family: 'Forum', cursive;
}

.take-a-look {
    border: 0.1rem solid;
    border-radius: 0.8rem;
    text-decoration: none;
    background-color: #1e1b39;
    color: white;
    width: 8rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-tiket {
    width: 25rem;
    border: 0.1rem solid;
    border-radius: 6rem;
}

@media only screen and (max-width: 500px) {
    .container {
        margin-inline-start: 1.5rem;
    }

    .navbar {
        gap: 1rem;
    }

    .image {
        width: auto;
        height: 30rem;
    }

    .tiket-info {
        flex-direction: column;
        border-radius: 0rem;
    }

    .take-a-look {
        margin-block-end: 1rem;
    }

}
@media only screen and (max-width: 900px) {
    .tiket-description{
        font-size: 1rem;
    }
    .navbar {
        gap: 1rem;
    }
}