body {
    margin: 0;
    background-color: rgba(77, 47, 122, 0.201);
    font-family: 'Forum', cursive;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 1rem;
    margin-bottom: 3rem;
}

.navbar {
    background-color: rgba(48, 35, 68, 0.668);
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15rem;
    padding: 0.5rem;
}

.item {
    text-decoration: none;
    color: white;
    font-size: 200%;
}

.image {
    width: 100%;
    height: 30rem;
    color: red;
}

.logo-HP {
    font-family: 'Forum', cursive;
    font-size: 5rem;
    color: black;
    display: flex;
    justify-content: center;
    margin: 1rem;
    width: 100%;
}

.tiket-info {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.carusel {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 2rem;
    gap: 2rem;
    padding: 2rem;
}

.carusel.img {
    width: auto;
    height: auto;
}


@media only screen and (max-width: 500px) {
    .image {
        width: auto;
        height: 30rem;
    }

    .navbar {
        gap: 1rem;
    }
}
@media only screen and (max-width: 900px) {
    .carusel {
        margin-inline-start: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}