.menu{
    position: sticky;
    inset-block-start: 0;
    inset-inline: 0;
    display: flex;
    align-items: center;
    padding-inline: 2rem;
    padding-block: 0rem;
    justify-content: space-between;
    background-color: #ffc72cc4;
    z-index: 1;
    margin: 0;
    
}
.logo-chicken{
    width: 10rem;
    height: 10rem;
}
a{
    text-decoration: none;
    color: rgb(97, 10, 10);
    margin-inline: 1rem ;
    position: relative;
    transition: transform 1s ease, text-decoration 1.5s ease;
}
a:hover{
    text-decoration: underline;
    transform: scale(1.3)
} 
.buttons{
    display: flex;
    font-family: 'Sedgwick Ave Display';
   
    
}
.logo-name{
    font-family: 'Sedgwick Ave Display';
    color: rgb(97, 10, 10);
    font-size: 3rem;
}
body{
    background-image: url('background2.jpg');
    background-color: rgba(0, 0, 0, 0.081);
    background-size: cover;
}
.welcome{
    position: absolute;
    font-size: 4rem;
    font-weight: 700;
    color: white;
    background-color: rgba(137, 134, 134, 0.522);
    font-family: 'Ubuntu', sans-serif;

}
.content{
    position: absolute;
    inset-block-start: 60%;
    inset-inline: 10%; 
}
.reserve{
    margin: 0;
    position: absolute;
    inset-block-start: 50%;
    inset-inline: 40%;
    border-radius: 1rem;
    border: 0;
    padding: 0.3rem;
    background-color:  rgba(137, 134, 134, 0.522);
    color: white;
    font-family: 'Ubuntu', sans-serif;
    transition: transform 2s ease, background-color 2s ease;
}
.reserve:hover{
    transform: scale(1.4);
    background-color: #ffc72cc4;
    color: rgb(97, 10, 10);
}
.button-text{
    color: white;
}
.button-text:hover{
    color: rgb(97, 10, 10);
}


@media (max-width: 900px) {
    .menu {
        display: grid;
        grid-template-rows: 4fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
    .logo-name {
        font-size: 1rem !important;
        grid-area: 2/3/1/2;
    }
    .buttons {
        display: flex;
        justify-content: space-between; 
        grid-area: 2/1/2/3; 
    }
    body{
        background-color: #bf9d41c3;
        background-image: none;
    }
    .welcome{ 
        font-weight: 600;
        font-size: 1.7rem;  
    }
    .reserve{
        inset-inline: 30%;
    }
}
@media (max-width: 1350px){
    .logo-name{
        font-size: 2rem;
    }
}  

    
        
