.menu{
    position: fixed;
    inset-block-start: 0;
    inset-block-end: 75%;
    inset-inline: 0;
    display: flex;
    align-items: center;
    padding-inline: 2rem;
    padding-block: 0rem;
    justify-content: space-between;
    background-color: #ffc72cc4;
    z-index: 1;
    margin-inline: 0;
    
}
.logo-chicken{
    width: 10rem;
    height: 10rem;
}
a{
    text-decoration: none;
    color: rgb(97, 10, 10);
    margin-inline: 1rem ;
    position: relative;
    transition: transform 1s ease, text-decoration 1.5s ease;
}
a:hover{
    text-decoration: underline;
    transform: scale(1.3)
} 
.buttons{
    display: flex;
    align-items: flex-end;
    font-family: 'Sedgwick Ave Display';
   
    
}
.logo-name{
    font-family: 'Sedgwick Ave Display';
    color: rgb(97, 10, 10);
    font-size: 3rem;
}
body{
    background-color: #bf9d41c3;
}
.contact{
    margin-top: 14.3rem;
    display: grid;
    grid-template-columns: 1fr 6fr 0.5fr 4fr 1fr;
}
.map{
    grid-column:2/3;
    border-radius: 1rem;

}
.address{
    grid-column: 4/5;
    font-family: 'Ubuntu', sans-serif;
    color: antiquewhite;
    background-color: rgba(137, 134, 134, 0.222);
    border-radius: 1rem;
    font-size: 1.6rem;

}
@media (max-width: 1000px) {
    .menu {
        display: grid;
        grid-template-rows: 4fr 1fr;
        grid-template-columns: 1fr 1fr;
        inset-block-end: 70%;
    }

    .logo-name {
        font-size: 1rem !important;
        grid-area: 2/3/1/2;
    }

    .buttons {
        display: flex;
        justify-content: space-between; 
        grid-area: 2/1/2/3; 
    }
    .contact{
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
    .map{
        grid-row: 1/2;
        grid-column: 1/3;
        width: 100%;
    }
    .address{
        grid-row:2/3;
        grid-column:1/3;
    }   
}  
@media (max-width: 1350px){
    .logo-name{
        font-size: 2rem;
    }
}  