.menu{
    position: fixed;
    inset-block-start: 0;
    inset-block-end: 75%;
    inset-inline: 0;
    display: flex;
    align-items: center;
    padding-inline: 2rem;
    padding-block: 0rem;
    justify-content: space-between;
    background-color: #ffc72cc4;
    z-index: 1;
    margin-inline: 0;   
}
.logo-chicken{
    width: 10rem;
    height: 10rem;
}
a{
    text-decoration: none;
    color: rgb(97, 10, 10);
    margin-inline: 1rem ;
    position: relative;
    transition: transform 1s ease, text-decoration 1.5s ease;
}
a:hover{
    text-decoration: underline;
    transform: scale(1.3)
} 
.buttons{
    display: flex;
    align-items: flex-end;
    font-family: 'Sedgwick Ave Display';    
}
.logo-name{
    font-family: 'Sedgwick Ave Display';
    color: rgb(97, 10, 10);
    font-size: 3rem;
}
body{
    background-color: #bf9d41c3;
}
.meniu{
    margin-top: 14.7rem;
    margin-inline: 7%;
    background-image: radial-gradient(#3a3a36d6, #000000);
    border: solid black 0.2rem;
    font-family: 'Ubuntu', sans-serif;
    color: aliceblue;   
}
.food1, .food3{
    width: 50rem;
    height: 37rem;
    grid-row: 1/4 ;
    grid-column: 1/2;
}
.food2{
    width: 50rem;
    height: 37rem;
    grid-row: 1/4;
    grid-column: 3/4;
}
.title{
    font-size: 4rem;
    text-align: center;
}
.combo1, .combo3{
    display: grid;
    grid-template-columns: 5fr 3fr 1fr;
    grid-template-rows: 3fr 5fr 3fr;
}
.combo2{
    display: grid;
    grid-template-columns: 1fr 3fr 5fr;
    grid-template-rows: 3fr 5fr 3fr;
}
.description1, .description3{
    grid-column: 2/3;
    grid-row: 2/3;
}
.description2{
    grid-column: 2/3;
    grid-row: 2/3;
}
.price{
    padding-inline: 1rem;
    padding-block: 0.3rem;
    background-color:    rgba(137, 134, 134, 0.222);
    border: 0;
    border-radius: 4rem;
    font-family: 'Ubuntu', sans-serif;
    color: aliceblue;
    font-size: 2rem;
}
.dish{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.full-menu{
    display: grid;
    grid-template-columns: 1fr 5fr  2fr 5fr 1fr;
    grid-template-rows: 1fr 4fr 4fr 0.5fr;

    gap: 2rem;
}
.chicken-dish{
    grid-column: 2/3;
    grid-row: 2/3;
}
.menu-title{
    grid-row: 1/2;
    grid-column:3/4 ;
}
.side-dish{
    grid-row: 2/3;
    grid-column: 4/5;
}
.dessert{
    grid-row: 3/4;
    grid-column: 2/3;
}
.drinks{
    grid-row: 3/4;
    grid-column: 4/5;
}
@media (max-width: 1200px){
    .menu {
        display: grid;
        grid-template-rows: 4fr 1fr;
        grid-template-columns: 1fr 1fr;
        inset-block-end: 70%;
    }
    .logo-name {
        font-size: 1rem !important;
        grid-area: 2/3/1/2;
    }
    .buttons {
        display: flex;
        justify-content: space-between; 
        grid-area: 2/1/2/3; 
    }
    .combo1, .combo3, .combo2{
        grid-template-rows: 3fr 3fr;
    }
    .description1, .description3,.description2{
        grid-column: 1/4;
        grid-row: 2/3;
    }
    .food1, .food3,.food2{
        width: 35rem;
        height: 25rem;
        grid-row: 1/2;
        grid-column: 1/4;   
    }
    .full-menu{
        display: flex;
        flex-direction: column;
    }
    .title{
        font-size: 3rem;
    }
    .menu-title{
        text-align: center;
    }
}
@media (max-width: 700px) {
    
    .food1, .food3, .food2{
        width: 100%;
    }
    .title{
        font-size: 2rem;
    }
}  
@media (max-width: 1350px){
    .logo-name{
        font-size: 2rem;
    }
}    