.menu{
    position: fixed;
    inset-block-start: 0;
    inset-block-end: 75%;
    inset-inline: 0;
    display: flex;
    align-items: center;
    padding-inline: 2rem;
    padding-block: 0rem;
    justify-content: space-between;
    background-color: #ffc72cc4;
    z-index: 1;
    margin-inline: 0;    
}
.logo-chicken{
    width: 10rem;
    height: 10rem;
}
a{
    text-decoration: none;
    color: rgb(97, 10, 10);
    margin-inline: 1rem ;
    position: relative;
    transition: transform 1s ease, text-decoration 1.5s ease;
}
a:hover{
    text-decoration: underline;
    transform: scale(1.3)
} 
.buttons{
    display: flex;
    align-items: flex-end;
    font-family: 'Sedgwick Ave Display';      
}
.logo-name{
    font-family: 'Sedgwick Ave Display';
    color: rgb(97, 10, 10);
    font-size: 3rem;
}
body{
    background-color: #bf9d41c3;   
}
.part-1{
    margin-inline: 10%;
    margin-top: 14.3rem;
    display: grid;
    grid-template-columns: 5fr 1fr 5fr;
    margin-block-end: 2rem;
}
.chef{
    width: 25rem;
    height: 27rem;
    grid-column: 1/2;
}
.intro,.intro-title{
    font-family: 'Ubuntu', sans-serif;
    color: aliceblue;
    grid-column: 3/4;
    background-color: rgba(0, 0, 0, 0.053);
    border-radius: 2rem;
    font-size: 2.1rem;
}
.urban{
    width: 100%;
}
.part-2{
    font-family: 'Ubuntu', sans-serif;
    color: aliceblue;
    grid-column: 3/4;
    background-color: rgba(0, 0, 0, 0.053);
    border-radius: 2rem;
    font-size: 0.5rem;
    margin-inline: 18%;
}

@media (max-width: 1000px) {
    .menu {
        display: grid;
        grid-template-rows: 4fr 1fr;
        grid-template-columns: 1fr 1fr;
        inset-block-end: 70%;
    }
    .logo-name {
        font-size: 1rem !important;
        grid-area: 2/3/1/2;
    }
    .buttons {
        display: flex;
        justify-content: space-between; 
        grid-area: 2/1/2/3; 
    }
    .part-1{
        grid-template-rows: 0.5fr 5fr 5fr;
        grid-template-columns: 1fr 2.5fr 1fr;
        margin-inline: 3%;
        margin-block-end: 0;       
    }
    .chef{
        grid-row: 2/3;
        grid-column: 1/4;
        display: block;
        margin-inline: auto;
    }
    .intro{
        grid-row: 3/4;
        grid-column: 1/4;
    }
    .intro-title{
        grid-row: 1/2;
        grid-column: 2/3;
        text-align: center;

    }
    .part-2{
        margin-inline: 5%;
    }   
    .about{
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 1350px){
    .logo-name{
        font-size: 2rem;
    }
}  