@import url(styles-global.css);

.header-item {
    background-image: url(../Gardens-Assets/header-image.jpg);
}

.header-text {
    min-width: 70%;
}

.paragraph-style {
    margin: 0 auto;
}

:is(.image1, .image2, .image3) {
    margin: 0 auto 0 auto;
}

@media (min-width: 1515px) {
    :is(.rows, .text-row) {
        display: flex;
        flex-direction: row;
        margin: 0;
    }

    .rows {
        gap: 2.5rem;
        align-items: center;
    }

    .text-row {
        gap: 5.81rem;
    }

    .text-width {
        max-width: 50%;
    }

    .image1 {
        width: auto;
        object-fit: cover;
        margin-inline: 0;
    }

    .image2 {
        width: 100%;
        height: 63.31rem;
    }

    .image3 {
        width: 100%;
        height: 64rem;
    }
}

