@import url(styles-global.css);

.header-item {
    background-image: url(../Beach-Assets/header-image.jpg);
}

.header-text {
    min-width: 70%;
}

.paragraph-style {
    margin: auto;
}

:is(.image1, .image2) {
    margin-inline: auto;
}

.image2 {
    height: 17rem;
    margin: 1rem auto auto auto;
}

:is(.image3, .image4, .image5) {
    height: 95%;
    margin-inline: auto;
}

.stacked {
    display: grid;
    place-items: center;
}

.stacked > * {
    grid-column: 1/-1;
    grid-row: 1/-1;
}

.stacked1 > :is(.image3, .image4, .image5) {
    z-index: -1;
}

.textoverimage {
    position: absolute;
    font-size: 1.56rem;
    color: #FFF;
}

@media (min-width: 1515px) {
    .rows {
        display: flex;
        gap: 2.5rem;
        flex-direction: row;
        margin: 0;
        align-items: center;
    }

    :is(.image1, .image2) {
        width: auto;
        object-fit: cover;
        margin-inline-start: 0;
        margin-inline-end: 0;
    }

    .image1 {
        margin: 0;
        max-width: 40rem;
        height: 100%;
    }

    .image2 {
        height: 100%;
        width: 100%;
        margin-block-start: 2.56rem;
    }

    .grid-row {
        display: flex;
        flex-direction: row;
        max-width: 100%;
        margin: 0 auto;
        gap: 1rem;
    }

    :is(.image3, .image4) {
        margin-block-end: 0;
    }

    :is(.image3, .image4, .image5) {
        max-width: 100%;
        height: 25rem;
        border-radius: 1.25rem;
        object-fit: cover;
        margin-inline-start: 0;
        margin-inline-end: 0;
    }

    .textoverimage {
        position: absolute;
        font-size: 1.56rem;
        transform: translatey(10rem);
    }
}


